

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap" rel="stylesheet">


<header>
  <nav>
    <!-- logo will be a home button -->
    <button class="logo" type="button"><a href="/">QUIZ WIZ</a></button>


      <div class="nav-header">
        <a class="create-quiz" href="/create">Create a Quiz</a>
        <a class="my-quizzes" href="/myquiz">My Quizzes</a>
      </div>

      <button type = "submit" class="btn btn-dark btn-sm">Log out</button>

  </nav>
</header>
