<header>
  <nav>
    <!-- logo will be a home button -->
    <button class="logo" type="button"><a href="/quizwiz">QUIZ WIZ</a></button>


      <div class="nav-header">
        <a class="" href="/quizwiz/create">Craft a Quiz</a>
        <a class="" href="/quizwiz/:username">My Quizzes</a>
      </div>
  </nav>
</header>
