<<<<<<< HEAD
<input class="quiz_create" type="text">
=======
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create Quiz!</title>

    <!-- CSS FILE -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- App.js-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/views/create_quiz.js"></script>
    <script type="text/javascript" src="//views/apiRoutes.js" ></script>


    </head>

  <body class="create-quiz">
    <header>
    <nav>
      <h1>Quiz Wiz</h1>
      <div class=
    </nav>
    </header>
    <div class="create-quiz-container">
  <h1>Create Quiz<h1>
  <h1 class="quiz-title"> Quiz Title</h1>
  <form class="write-quiz-title" methods="POST" action="/createQuiz" id="new-quiz-title">
    <textarea name="text" id="new-quiz-name" placeholder="Type a title"></textarea>

    <h2 class="quiz-question"> Write your question here</h2>
    <p> name="text" id="quiz-textbox" placeholder="Write your question here"></p>

    <!-- each div has a possible answer-->
    <div class="possible-answer">
      <input type="text" name="option"

  </form>
  <button type="submit">Create Quiz</button>

    </body>
>>>>>>> 76e3c660d74d990314f8ddfc841c0cbf9c6e8958
