<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create Quiz!</title>

    <!-- CSS FILE -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create_quiz.css" type="text/css" />
    <link rel="stylesheet" href="/styles/homepage.css" type="text/css" />
    <link rel="stylesheet" href="/styles/myQuizzes.css" type="text/css" />


    <!-- App.js-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/routes/createQuiz.js"></script>
    <script type="text/javascript" src="/routes/myQuizzes.js"></script>
    <script type="text/javascript" src="/scripts/helper.js"></script>

    <!-- GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Cinzel&family=Cinzel+Decorative&family=Monoton&family=Raleway+Dots&family=Suranna&display=swap" rel="stylesheet">

  </head>

  <body>

    <header>
        <nav>
          <!-- logo will be a home button -->
          <button class="logo" type="button"><a href="/">QUIZ WIZ</a></button>

            <div class="nav-header">
              <button class="create-quiz"><a  id="createlink" class="createlink" href="/create">Create a Quiz</a></button>
              <button class="my-quizzes"><a id="myquizlink" class="myquizlink" href="/myquiz/<%- userId %>">My Quizzes</a></button>
            </div>

            <button type = "submit" class="btn btn-dark btn-sm">Log out</button>

        </nav>
    </header>

    <div class="create-body">

          <div class="quiz-title-section">
            <h1 class="create-user-name" name="user_id">Create Quiz for: <%-userName%></h1>

            <h2 class="quiz-title"> Quiz Title</h2>

          <form id="question-answer-form" method="post" action="/create">
              <input type="hidden" name="user_id" value="<%-userId%>">
              <input type="text" id="new-quiz-name" name="quizName" placeholder="Type a title">
          </div>



          <div class="quiz-question-section">
            <h2 class="quiz-question"> Write your question here</h2>
            <input type="text" id="new-quiz-question" name="questionName" placeholder="Type your question here">
          </div>



          <div class="quiz-answer-section">
            <h2 class="quiz-answer"> Write the answers here</h2>
            <p> *Check off the correct answer</p>

            <div class="possible-answer-container">
              <label id="answer1" for="answer1">Answer1</label>
                <div class="answer-text-radio">
                  <input class="answertext" type="text" name="answer1"></input><input id="a1" class="answer-radio" type="radio" name="is_right"></input><br>
                </div>

              <label id="answer2" for="answer1">Answer2</label>
                <div class="answer-text-radio">
                  <input class="answertext" type="text" name="answer2"></input><input id="a2" class="answer-radio"  type="radio" name="is_right"></input><br>
                </div>

              <label  id="answer3" for="answer1">Answer3</label>
                <div class="answer-text-radio">
                  <input class="answertext" type="text" name="answer3"></input>
                  <input id="a3" class="answer-radio"  type="radio" name="is_right"></input><br>
                </div>

              <label id="answer4" for="answer1">Answer4</label>
                <div class="answer-text-radio">
                  <input class="answertext" type="text" name="answer4"></input><input id="a4" class="answer-radio"  type="radio" name="is_right"></input><br>
                </div>
            </div>
          </div>


          <div id="create-quiz-container" class="create-quiz-container">
            <br>
            <div class="privacy-check">
              <input id="private-check" type="radio" name="is_private" value="true" checked="checked">Private Quiz</input>
              <input id="public-check" type="radio" name="is_private" value="false">Public Quiz</input>
            </div>
          </div>


          <div class="creating-buttons">
            <br>
            <button id="add-question" type="submit"> Add a new question</button>

            <br>
            <button id="Submit-Create" type="submit">Create Quiz</button>

          </div>

          </form>



    </div>

  </body>


</html>
