<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Start the Quiz!</title>

    <!-- CSS FILE -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/routes/quiz.js"></script>

  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>
    <!-- general quiz page layout -->

    <div class="w3-sidebar w3-bar-block" style="width:25%;right:0">
      <h5 class="w3-bar-item">Menu</h5>

      <h1>testestest</h1>

      <br>
      <a href="#" class="w3-bar-item w3-button">Question 1</a>
      <br>
      <a href="#" class="w3-bar-item w3-button">Question 2</a>
      <br>
      <a href="#" class="w3-bar-item w3-button">Question 3</a>
    </div>


    <div style="margin-right:25%">
    ... page content ...
    </div>

    <% for (let quiz of quizData){%>

    <div class="quiz_content">
        <div>
          <p>Quiz Question: <%- quiz.question %></p>
        </div>
        <div>
          <p>Quiz Answers: <%- quiz.answer %></p>
        </div>
    </div>
    <%}%>
    <div class="quiz_sidebar">


  </body>
</html>


