<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Start the Quiz!</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- CSS FILE -->
  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>
    <!-- general quiz page layout -->

    <div class="w3-sidebar w3-bar-block" style="width:25%;right:0">
      <h5 class="w3-bar-item">Menu</h5>
      <a href="#" class="w3-bar-item w3-button">Question 1</a>
      <a href="#" class="w3-bar-item w3-button">Question 2</a>
      <a href="#" class="w3-bar-item w3-button">Question 3</a>
    </div>

    <div style="margin-right:25%">
    ... page content ...
    </div>


    </body>
    </html>

<!--
    <div class="quiz_content">
      <div>
        <div>
          <% Quiz_title %>
        </div>
        <div><%question%></div>
        <% for(let answer in answers) { %>
          <div>
            <input type="radio" id="question" name="question" value="<% question %>">
            <label>
              <% answer %>
            </label>
          </div>
          <%}%>
            <div><a href="/quiz/<% quiz_id -1 %>">Back</a><a href="/quiz/<% quiz_id +1 %>">Next</a></div>
      </div>
      <div class="quiz_sidebar">
        <table>
          <% for(let question in questions) { %>
            <tr><td><% question%></td></tr>
            <%}%>
        </table>
      </div>
    </div> -->
