<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz Result</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- CSS FILE -->
  </head>

  <body>

    <header>
      <%- include('partials/_header') %>
    </header>

  <h1>Result for: Alice</h1>

  <p>Quiz title: Cats quiz</p>
  <br>
  <p>Your Score: (results.score)/count(questions.question) for Attempt #1</p>
  <br>
  <p>Share your results for this attempt: http://localhost:8080/results/:user_id</p>

  </body>
</html>



<div><%result%>
  You got <% attempts%> !
  <button ><a href="/quiz/results/">Detail</a> </button>
<div class="quiz_result_detail">
  <!- IF users click to see the details, here will be created dynamiclly including quiz_title,
    questions and right answer.->
</div>
</div>
