@media only screen and (max-width: 2000px) {
  $button-font-stack: "Suranna", serif;
  $logo-font-stack: "Maven Pro", sans-serif;
  $text-font-stack: "Acme", sans-serif;
  $background-gif: url(https://i.pinimg.com/originals/a4/64/60/a46460eef9156cf9144b95fd2375cf3e.gif);
  $quiz-background: url(https://cutewallpaper.org/21/professional-website-background/professional-images-for-website-background-13-Ride-Now-Pte-Ltd.jpg);
  $header-margin: 10px;
  $pastel-blue: url(https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0993/3023/dots3-pastel-too-blue_shop_thumb.png);
  $pastel-purple: url(https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0427/7276/0_0_solid_EEE0FF_pale_pastel_purple_shop_thumb.png);
  $pastel-green: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/dunn-edwards-2019-curated-colors-pale-cactus-pastel-green-de5673-solid-color-melissa-fague.jpg);
  $trial-background: url(https://i.pinimg.com/originals/52/11/33/5211331c3267926037327cb79eab9bd8.jpg);
  $gradient: url(https://64.media.tumblr.com/ee843139aadcb41fa338d57431c5ee9c/tumblr_oiwyu3PV5S1tf8vylo1_1280.png);

  // HOME PAGE --------------------------
  #home-fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: $pastel-blue;
    height: 80vh;
    background-size: 100%;
    background-repeat: repeat-y space;
    background-size: 200px;

    margin: 0px 10px 0px 10px;
    font-size: 50px;
  }

  .welcome-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 700px;
    color: black;
    font-size: 40px;
    // place-content: center;
    margin: 0px 0px 0px 30px;
  }

  .welcome-message > p {
    font-size: 40px;
  }

  .info-message {
    margin: 0px 0px 0px 30;
    display: flex;
    justify-content: flex-end;
  }

  .welcome-button {
    height: 200px;
    border: 2px solid black;
    margin-right: auto;
    font-family: $logo-font-stack;
  }

  .welcome-button:hover {
    box-shadow: 3px 3px rgba($color: coral, $alpha: 1);
    animation: ripple 1.5s linear infinite;
    transition: all 0.7s ease;
    &:hover {
      transform: scale(1.1);
    }
    &:focus {
      outline: none;
    }
  }

  #home-body {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 10px 10px;
    background-size: cover;
  }

  .public-quizzes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .home-my-quizzes {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    width: 400px;
    height: 400px;
    margin: $header-margin;
    padding: 1px 10px 5px 10px;
    border: 5px solid black;
    background-color: white;
  }

  footer {
    border-top: black solid 5px;
    background-color: black;
    color: white;
    font-size: 16px;
  }

  .home-my-quizzes:hover {
    box-shadow: 10px 10px rgba($color: rgb(123, 230, 230), $alpha: 1);
    animation: ripple 1.5s linear infinite;
    transition: all 0.7s ease;
    &:hover {
      transform: scale(1.01);
    }
    &:focus {
      outline: none;
    }
  }

  .home-start-quiz:hover {
    box-shadow: 5px 5px rgba($color: coral, $alpha: 1);
    animation: ripple 1.5s linear infinite;
    transition: all 0.7s ease;

    &:hover {
      transform: scale(1.1);
    }
    &:focus {
      outline: none;
    }
  }
}
