// See: https://sass-lang.com/

// NOTES ON CSS, THE . IS FOR CLASSES, THE # IS FOR id



body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

//header.ejs
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0 1.5em 0;
  width: 100vw;
  height: 120px;
  background-color: rgb(194, 194, 255);
  color: white;
  font-family: "Kaisei Opti";
  font-size: 1.8em;
}

// Create quiz
.create-quiz {
  background-image: linear-gradient(top-to-bottom, rgb(130, 209, 235), rgb(9, 100, 131));
  title {
    display: flex;
    justify-content: flex-start;
    align-items: column;
    color:seagreen;
    background-color: lightgray;
    border: solid 3px black;
  }
  h1 {
  color: black;
  background-color: lightgray;
  border: solid 3px black;
  }
}

.creating-buttons {
  display:flex;
  justify-content: flex-start;

}

.possible-answer {

}

// Index.ejs
.public-quizzes-homepage {
  display:flex;
  align-items: row;
  justify-content: space-between;
  background-color: white;
  color: black;

}
.public-quizzes {
  background-color: lightskyblue;
  color: black;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

//qquiz.ejs


